#user-activities img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.profile {
    position: relative;
    display: inline-block;
}

.details {
    display: none;
    position: absolute;
    right: 0px;
    border-radius: 1%;
    background-color: #f9f9f9;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.details a {
    color: black;
    padding: 3px 4px;
    text-decoration: none;
    display: block;
    font-size: 0.7em;
}

.details a:hover {background-color: #f1f1f1}

.profile:hover .details {
    display: block;
}
